body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #b40606; /* Màu nền đỏ */
    height: 80px;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Đổ bóng */
}

nav {
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}

.header-logo img {
    height: 60px;
    width: auto;
}

.headersearch-form {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    width: 310px;
}

.headersearch-form input {
    padding: 10px;
    border: none;
    outline: none;
    flex: 1;
}

.headersearch-form button {
    padding: 10px 15px;
    background-color: #fff; /* Màu nền button */
    color: #b40606; /* Màu chữ button */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển màu */
}

.headersearch-form button:hover {
    background-color: #f8f8f8; /* Màu nền khi hover */
}

.header-user {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 150px;
}

.header-user a img {
    height: 30px;
    width: auto;
    transition: transform 0.3s;
}

.header-user a img:hover {
    transform: scale(1.1);
}

.user-name {
    cursor: pointer;
    color: white; /* Màu chữ */
    margin-right: 10px;
    font-size: 14px;
    position: relative;
}

.user-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff; /* Màu nền cho menu */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng */
    border-radius: 5px;
    list-style-type: none;
    height: 30px;
}

.header-user:hover .user-menu {
    display: block; /* Hiển thị menu khi hover */
}

.user-menu li {
    padding: 5px 15px; /* Padding cho item trong menu */
    text-align: center;
}

.user-menu li:hover {
    background-color: #b40606; /* Màu nền khi hover */
    color: white; /* Màu chữ khi hover */
}

.header-user .logout-button {
    margin-top: 0;
    background-color: #b40606; /* Màu nền */
    color: white; /* Màu chữ */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
    width: 150px;
    font-size: 14px;
}

.header-user .logout-button:hover {
    background-color: red; /* Màu nền khi hover */
}

.header-cart {
    display: flex;
    align-items: center; /* Căn giữa cho nút giỏ hàng */
}

.header-cart img {
    height: 30px;
    width: auto;
    transition: transform 0.3s;
}

.header-cart img:hover {
    transform: scale(1.1);
}