.home-thumbnail {
    align-items: center;
    display: flex;
    justify-content: center; /* Căn giữa hình ảnh */
    padding: 10px 0; /* Thêm khoảng cách trên và dưới */
}

.home-h1 {
    text-align: center;
    color: #b40606; /* Màu chữ đồng bộ với header */
    margin: 20px 0; /* Thêm khoảng cách trên và dưới tiêu đề */
}