.pl-product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.pl-product-list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.pl-product-list-item {
    border: 1px solid #ccc;
    flex: 1 0 21%;
    max-width: 21%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 450px;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    padding: 10px;
}

.pl-product-list-item:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.pl-product-list-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.product-name {
    font-size: 16px;
    text-decoration: none !important; /* Bỏ gạch chân */
    color: #333;
    margin: 10px 0;
}

.pl-priceandbutton {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 10px;
}

.priceproduct {
    font-weight: bold;
    margin-bottom: 10px;
    min-height: 30px;
}

.pl-button-group {
    display: flex;
    justify-content: space-between;
}

.pl-btn-add-to-cart,
.pl-btn-buy-now {
    background-color: #fff;
    color: #b40606;
    border: 1px solid #b40606;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    font-size: 16px;
    flex: 1;
    margin: 5px;
}

.pl-btn-add-to-cart:hover,
.pl-btn-buy-now:hover {
    background-color: #b40606;
    color: white;
    transform: scale(1.05);
}

.pl-notification {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

.pl-pagination {
    background-color: #fff;
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.pl-pagination button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
}

.pl-pagination button:hover {
    background-color: #b40606;
    color: white;
    transform: scale(1.05);
    text-decoration: underline;
}

.pl-pagination button.active {
    background-color: #b40606; /* Màu nền cho trang hiện tại */
    color: white; /* Màu chữ cho trang hiện tại */
    transform: scale(1.05); /* Hiệu ứng phóng to */
}